@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Saira+Extra+Condensed:wght@100..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Saira Extra Condensed", "Montserrat", sans-serif;
    --font-main: "Saira Extra Condensed", "Montserrat", sans-serif;
    --font-display: "Oswald", sans-serif;
    --font-timer: "Orbitron", sans-serif;
}

/* Fix Chrome deprecation warning for range inputs */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}
